@{ 
    Layout = null;
}

<form asp-controller="Security" asp-action="Login" method="post">
    <input type="text" name="username" id="username"  placeholder="Username" /><br />
    <input type="text" name="password" id="password" placeholder="Password" /><br />
    <input type="submit"  value="Login" />
</form>

<p>Username:guest, free, paid, over18</p>
<p>Pasword:</p>