@model Darren.Security.Models.ResetPasswordViewModel

    <h3>reset password</h3>

<form asp-controller="Security" asp-action="ResetPassword" method="post">

    <div asp-validation-summary="All"></div>

    <input type="hidden"  asp-for="Code" /><br />
    <input type="text" asp-for="Email" placeholder="Email"  /><br />
    <input type="password" asp-for="Password" placeholder="Password"  /><br />
    <input type="password" asp-for="ConfirmPassword" placeholder="ConfirmPassword" /><br />
    <input type="submit" value="Reset Password" />
</form>